<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		
		<script type="text/javascript" src="@{'/public/javascripts/rem.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/zepto.min.js'}"></script>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/reset.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/icon/iconfont2/iconfont/iconfont.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/dingdan.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/icon/jumpiconfont/iconfont.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jump.css'}" />
		
	</head>
	<body>
		<header>
			<p class="iconfont icon-jiantouzuo zuo1"></p>
			<p class="txt_head">我的订单</p>
			<p class="iconfont icon-fenlei fenlei"></p>
		</header>
		<div class="main">
			<ul id="list">
				<li class="item" type="0">待支付</li>
				<li class="item" type="1">待发货</li>
				<li class="item" type="2">待收货</li>
				<li class="item" type="3">已完成</li>
				<li class="item" type="4">退换货</li>
			</ul>
			<a href="dizhi">管理收货地址</a>
		</div>
		<div id="mainc">
			<div class="xinxi">
				<div class="sp">
					<img src="/public/images/goods4.png"><div>
					<p>名家厨房黑椒西冷菲力牛排套餐团购10片家庭装牛扒顺丰包邮送刀叉</p>
					<p class="colors">单价: <span class="jiage">126.00</span></p>
					<p>数量：<span>2</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">252</span></p>
					<div><div>
					</div><span class="sanchu" type-id="4">✖删除</span></div>
					</div>
				</div>
				<div class="sp">
					<img src="/public/images/goods7.png"><div>
					<p>良品铺子麻薯组合1050g爆浆糕点点心零食大礼包小吃</p>
					<p class="colors">单价: <span class="jiage">0.01</span></p>
					<p>数量：<span>2</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">0.02</span></p>
					<div><div>
					</div>
					<span class="sanchu" type-id="7">✖删除</span>
					</div></div>
				</div>
			</div>

			<div class="xinxi hide">
				<div class="sp">
					<img src="/public/images/goods12.png"><div>
					<p>韩国原味芝士年糕500g芝心夹心年糕拉丝年糕条火锅食材5袋包邮</p>
					<p class="colors">单价: <span class="jiage">28.00</span></p>
					<p>数量：<span>2</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">56.00</span></p>
					<div><div>
					</div></div>
					</div>
				</div>
				<div class="sp">
					<img src="/public/images/goods9.png"><div>
					<p>尊食汇2人套餐含澳洲进口新鲜牛排&nbsp;香肠&nbsp;意面酱&nbsp;情侣家庭西餐</p>
					<p class="colors">单价: <span class="jiage">128.00</span></p>
					<p>数量：<span>1</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">128.00</span></p>
					<div><div>
					</div>
					</div></div>
				</div>
			</div>
			
			<div class="xinxi hide">
				<div class="sp">
					<img src="/public/images/goods5.png"><div>
					<p>白胖子手工甜品雪媚娘草莓大福糯米糍沈阳大连长春哈尔滨全国包邮</p>
					<p class="colors">单价: <span class="jiage">35.00</span></p>
					<p>数量：<span>2</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">70.00</span></p>
					<div><div>
					</div></div>
					</div>
				</div>
			</div>
			
			
			<div class="xinxi hide">
				<div class="sp">
					<img src="/public/images/goods13.png"><div>
					<p>脆皮炸牛奶&nbsp;炸鲜奶&nbsp;速冻半成品&nbsp;港式甜品&nbsp;特色小吃&nbsp;油炸糯米点心</p>
					<p class="colors">单价: <span class="jiage">6.00</span></p>
					<p>数量：<span>4</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">24.00</span></p>
					<div><div>
					</div></div>
					</div>
				</div>
				<div class="sp">
					<img src="/public/images/goods9.png"><div>
					<p>尊食汇2人套餐含澳洲进口新鲜牛排&nbsp;香肠&nbsp;意面酱&nbsp;情侣家庭西餐</p>
					<p class="colors">单价: <span class="jiage">128.00</span></p>
					<p>数量：<span>1</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">128.00</span></p>
					<div><div>
					</div>
					</div></div>
				</div>
				<div class="sp">
					<img src="/public/images/goods14.png"><div>
					<p>布丁粉;芒果布丁粉;100g;奶茶原料;芒果草莓;果冻粉;多口味可选</p>
					<p class="colors">单价: <span class="jiage">16.00</span></p>
					<p>数量：<span>3</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">48.00</span></p>
					<div><div>
					</div>
					</div></div>
				</div>
			</div>
			
			<div class="xinxi hide">
				<div class="sp">
					<img src="/public/images/goods12.png"><div>
					<p>韩国原味芝士年糕500g芝心夹心年糕拉丝年糕条火锅食材5袋包邮</p>
					<p class="colors">单价: <span class="jiage">28.00</span></p>
					<p>数量：<span>2</span></p>
					<p class="colors xiaoji">小计: ￥<span class="pri">56.00</span></p>
					<div><div>
					</div></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="jump">
	        <a href="/">
	            <i class="iconfont icon-shouye icon-footer"></i>
	            <p>首页</p>
	        </a>
	        <a href="/fenlei">
	            <i class="iconfont icon-fenlei icon-footer"></i>
	            <p>分类</p>
	        </a>
	        <a href="/gwc">
	            <i class="iconfont icon-gouwuche icon-footer"></i>
	            <p>购物车</p>
	        </a>
	        <a href="/dingdan">
	            <i class="iconfont icon-icon icon-footer"></i>
	            <p>我的订单</p>
	        </a>
	        <a href="/ZX">
	            <i class="iconfont icon-gerenzhongxin icon-footer"></i>
	            <p>个人中心</p>
	        </a>
	    </div>
		<script>
			var list = $("#list");
			$(".item").eq(0).css({"background":"#fe9901","color":"#fff"});
			
			list.on("click",".item",function(event){
				$(this).css({
					"background":"#fe9901",
					"color":"#fff"
				}).siblings().css({
					"background":"",
					"color":""
				})
				$(".xinxi").eq($(this).attr("type")).removeClass("hide")
				.siblings(".xinxi").addClass("hide");
				
			})
			$(".zuo1").click(function(){
				window.history.back();
			})
		</script>
	</body>
</html>
